<!-- templates/home.html -->

{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content %} {% if user.is_authenticated %} Hi {{ user.username }}!
<p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
<!-- entire index ko content else pachi lekhni -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="jumbotron">
                <div id="mapid"></div>
            </div>
        </div>
        <div class="col-sm-6">
            <nav class="navbar navbar-light justify-content-between">
                <a class="navbar-brand"></a>
                <form class="form-inline home">
                    <button class="btn bg-white btn-sign-in"><a href="{% url 'login' %}" class="text-black sign-in">Sign In</a></button>
                    <button class="btn bg-black btn-sign-up"><a href="{% url 'signup' %}" class="text-white sign-up">Sign Up</a></button>
                </form>
            </nav>
        </div>
    </div>
</div>
{% endif %} {% endblock %}